.sprite-data{ background-position: 0 0; width: 45px; height: 47px; } 
.sprite-dinzhi{ background-position: 0 -97px; width: 45px; height: 47px; } 
.sprite-home{ background-position: 0 -194px; width: 47px; height: 45px; } 
.sprite-hot{ background-position: 0 -289px; width: 31px; height: 10px; } 
.sprite-jiance{ background-position: 0 -349px; width: 47px; height: 45px; } 
.sprite-new{ background-position: 0 -444px; width: 21px; height: 10px; } 
.sprite-ser{ background-position: 0 -504px; width: 22px; height: 22px; } 